navbar-brand {
  font-size: 24px;
  color: forestGreen;
}

.profile-link {
  border: 2px solid forestGreen; /* Creates a green border around the link */
  color: white !important; /* Ensures the text color is white */
  padding: 5px 10px; /* Adds padding inside the border for spacing */
  border-radius: 5px; /* Rounds the corners of the border for a smoother look */
  text-decoration: none; 
  background-color: forestGreen; 
  display: inline-block; /* Ensures padding and border are applied correctly */
}

.profile-link {
  background-color: darkGreen !important;
}
  
 

