.signup-page body,
.signup-page html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2; /* Light gray background */
}

.signup-container {
  width: 80%;
  max-width: 600px;
  padding: 40px;
  background-color: #fff; /* White background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
  max-height: calc(
    100vh - 100px
  ); /* Adjust according to your footer and navigation bar height */
  overflow-y: auto; /* Add scroll bar when content exceeds maximum height */
  text-align: center; /* Center content horizontally */
}

.signup-content {
  text-align: center;
}

.signup-content h1 {
  font-size: 2rem;
  color: #333; /* Dark gray color */
  margin-bottom: 20px;
}

.signup-content h2 {
  font-size: 1.5rem; /* Adjust font size */
  color: #333; /* Dark gray color */
  margin-bottom: 20px;
}

.signup-content p {
  font-size: 1rem;
  color: #666; /* Gray color */
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: #333; /* Dark gray color */
  margin-bottom: 8px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button-group {
  margin-top: 20px;
}

.signup-btn {
  background-color: #4caf50; /* Green button */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

.text-success {
  color: #4caf50; /* Green color for success text */
  cursor: pointer;
}

.error-message {
  color: red; /* Red color for error message */
}
