.signup-page body,
.signup-page html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: #bbfb9e; */
}

.signup-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 1400px;
  padding: 20px;
  background-color: #f9e7e7;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.signup-image-container {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
}

.left-images,
.right-images {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-images {
  left: 5%;
}

.right-images {
  right: 5%;
}

.image-wrapper {
  margin: 80px 0;
}

#salad {
  margin-top: -10px;
}

#avocado {
  top: 50px;
}

#grapefruit {
  margin-top: -10px;
}

#cookie {
  top: 50px;
}

.signup-content {
  flex: 1;
  max-width: 320px;
  padding: 20px;
  background-color: transparent; /* Removed white background */
  border-radius: 10px; /* Added border-radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow */
}

.signup-content .signup-heading {
  font-size: 2rem;
  color: rgb(29, 59, 42);
  margin-bottom: 20px;
}

.signup-content .signup-form-group input,
.signup-content .signup-form-group select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px;
}

.signup-content .signup-btn {
  background-color: salmon;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 0.9rem;
  display: block;
  margin: 0 auto;
  outline: none;
}

.signup-content .signup-btn:hover {
  background-color: rgb(241, 113, 90);
}

.signup-image-container img {
  width: 320px;
  height: auto;
}
